@use "../../styles/typgorafy" as v;

.container {
  background-color: #1a1a1a;
  display: grid;
  position: relative;
  height: 100%;
  padding: 24px;
  border-radius: 24px;
  transition: .3s width;

  svg {
    position: absolute;
    width: 0;
    height: 0;
  }
}

.input {
  align-self: flex-end;
  display: flex;
  align-items: center;
  grid-column-gap: 8px;
  padding-top: 12px;

  span {
    font-size: 24px;
    font-weight: bolder;
  }

  input {
    display: block;
    width: 100%;
  }
}

.body {
  scroll-behavior: smooth;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  display: grid;
  align-content: flex-start;
  grid-row-gap: 4px;

  font-size: 18px;
  @include v.roboto_base(14px);
}

.message {
  font-size: 18px;
  color: black;
  word-break: break-word;
}