@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-image: url("../assets/background.jpg");
  margin: 0;
  padding: 24px;
  height: 100vh;
}

#root {
  height: 100%;
}

button {
  cursor: pointer;
}
