
.title {
  color: #444444;
  font-size: 48px;
}

.wrapper {
  display: grid;
  align-items: center;
  grid-row-gap: 32px;
  padding: 24px;
  border-radius: 24px;

  & > div > div {
    display: grid;
    align-items: center;
    justify-self: center;
    max-width: 350px;
  }
}

.info {
  display: grid;
  grid-auto-flow: column;

  span {
    color: #444444;
    font-size: 24px;
    text-align: center;

    border-color: #444444;
    border-style: solid;
    border-width: 0 0 0 2px;
  }

  span:last-child{
    border-right: 2px solid #444444;
  }
}

