.container {
  transition-property: transform, opacity, width, height;
  transition-timing-function: ease-in-out;
  transition-duration: var(--animation-duration);

  opacity: 1;

  &.exit {
    opacity: 0;
    transition-timing-function: ease-in;
  }
}

.left-width {
  width: 0;
  transform: translateX(-20px);

  &:not(.exit) {
    width: 100%;
    transform: translateX(0);
  }
}

.right-width {
  width: 0;
  transform: translateX(20px);

  &:not(.exit) {
    width: 100%;
    transform: translateX(0);
  }
}

.top-height {
  height: 0;
  transform: translateY(-20px);

  &:not(.exit) {
    height: auto;
    transform: translateY(0);
  }
}

.bottom-height {
  height: 0;
  transform: translateY(20px);

  &:not(.exit) {
    height: auto;
    transform: translateY(0);
  }
}